<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJhS2LVxae4-1AcPt6UTgEmFq7Rypf0Kg</string>
	<key>GCM_SENDER_ID</key>
	<string>447748979936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasklocal</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-a4202</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-a4202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447748979936:ios:b3269ccf4c18b46128e485</string>
</dict>
</plist>